/****GENERAL LAYOUT STYLING BEGINS ******/
ul {
  list-style: none;
  padding-left: 0;
}

.layout-wrapper {
  section {
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
@mixin white-border {
  border: 1px solid $white;
  border-radius: 16px;
  padding: 1rem;
}
.hero-section,
.playing-now-comp,
.schedule-comp,
.todays-headliners-comp {
  @include white-border;
}

.news-section {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
  div {
    @include white-border;
    padding: 1rem 0.5rem;
    width: 50%;
    h2 {
      font-size: 1.7rem;
    }
  }
}
