//Sass variables

// fonts
$h1-font: "Kanit", sans-serif;
$font-Inter: "Inter", sans-serif;
$font-size: 0.8rem;
// colours
$black: #101014;
$white: #fbfafa;
$grey: #8b8b8b;
$dark-grey: #1f1f1f;
$orange: #ff802c;
$purple: #6671e3;
$bottom-nav-spacer: 10vh;
