#singleBandPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    text-align: center;
  }
}
.single-band-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  max-width: 400px;
  img {
    object-fit: cover;
    max-width: 100%;
  }
}
.live-next {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  h3 {
    margin-bottom: 0;
  }
  h4 {
    padding-bottom: 0.4rem;
    border-bottom: 2px solid $orange;
  }
}
.members-section {
  margin-top: 1rem;
  p {
    margin: 0;
  }
}
.single-band-content > p {
  margin: 2rem 0;
}
