#singleBandPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 12vh;
  h1 {
    text-align: center;
  }
}
.single-band-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  max-width: 400px;
  transition: all 0.4s ease;
  img {
    object-fit: cover;
    max-width: 100%;
    border-radius: 16px;
  }
}
@media only screen and (min-width: 719px) {
  .single-band-content {
    max-width: 600px;
  }
}
.band-info-wrapper {
  background-color: #1f1f1f;
  border-radius: 16px;
  /*  padding: 0rem 0.5rem 1rem 0.5rem; */
  p,
  h3 {
    padding: 0.5rem 1rem 0 1rem;
  }
  .genre {
    padding-top: 1.5rem;
    font-weight: 500;
    span {
      font-weight: 300;
    }
  }
}
.live-next {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 0.8rem;
  margin-top: 1rem;
  width: 100%;
  h3 {
    margin-bottom: 0;
  }
  h4 {
    padding-bottom: 0.4rem;
    border-bottom: 2px solid $orange;
  }
}
.members-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0.5rem 0 1rem 0;
  p {
    font-weight: 500;
  }
  .members-list {
    li {
      padding-left: 1rem;
      font-weight: 300;
    }
  }
}
.single-band-content > p {
  margin: 1rem 0rem;
}
