.log-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
}
.form-wrapper {
  position: relative;
  border: 1px solid $white;
  border-radius: 16px;
  padding: 1rem;
  height: 20rem;
  padding-top: 2rem;
}
.email-input,
.ticket-number-input {
  display: flex;
  flex-direction: column;
}
.log-in-button {
  padding: 0.8rem 4.2rem;
  border-radius: 12px;
  border: 1px solid $white;
  cursor: pointer;
}
#email,
#ticketNumber {
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid $orange;
  height: 30px;
  color: $white;
}
//maybe this is not aligned at center?
.log-in-page {
  h1 {
    text-align: center;
  }
}
