.bands-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 1rem;
  margin-top: 1.3rem;
}
.band-card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  gap: 4rem;
  p {
    margin: 0;
  }
}
.band-card-main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.band-card-side-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.band-card {
  background-color: rgb(70, 70, 70);
  padding: 1rem;
  border-radius: 20px;
  min-width: 20rem;
  h3 {
    margin: 0;
  }
}
.bands-list {
  h2 {
    padding-bottom: 0.4rem;
    border-bottom: 2px solid $orange;
  }
  padding-bottom: 1rem;
}
