/* ****BOTTOM NAV STYLING STARTS***** */
.bottom-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $white;
  border-radius: 50px;
  height: 8vh;
  width: 95vw;
  position: fixed;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);

  /*   box-shadow: -2px 2px 4px #3d3d3e, 10px -4px 10px #101014; */
  ul {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: space-around;
    padding: 1.75rem 1rem;
  }
  li {
    width: 100%;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.3rem;
      width: 100%;
      font-size: 1rem;
      color: $black;

      img {
        margin-top: 0.5rem;
        width: fit-content;
        height: 20px;
      }
      p {
        color: $black;
      }
    }
  }
}

/* ****BOTTOM NAV STYLING ENDS***** */
