#filtersNav,
.search-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.search-nav {
  justify-content: space-between;
}
#days,
#stages {
  padding: 0.5rem 1rem;
  font-size: $font-size;
  border-radius: 20px;
  border: none;
  background-color: $dark-grey;
  color: $white;
  font-family: $font-Inter;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
}

#searchField {
  outline: none;
  border: none;
  background-color: transparent;
  height: 30px;
  color: $white;
  background-color: $dark-grey;
  border-radius: 20px;
  padding-left: 1rem;
  width: 100%;
  position: relative;
  font-size: 1rem;
}

.search-icon {
  position: absolute;
  right: 5%;
}
@media only screen and (max-width: 599px) {
  .search-icon {
    right: 7%;
  }
}
@media only screen and (max-width: 499px) {
  .search-icon {
    right: 10.5%;
  }
} ;
