.playing-now-headline {
  color: $white;
  font-weight: 700;
}
.playing-now-band {
  h3 {
    color: $orange;
    font-weight: 500;
  }
  p {
    color: $white;
    font-weight: 300;
  }
  .next-up {
    color: $grey;
    font-weight: 400;
  }
}
.playing-now-band:not(:last-child) {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $orange;
}
