#filtersNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  margin-top: 1rem;
}
//to use on the search bar input field
.hidden {
  display: none;
}
